{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Немного шарю в пайтоне, немного знаю html и Django. <br>
      Планирую уволиться и посвящать новому делу больше времени, 
      так как свободного явно недостаточно.<br>
      Я обязательно дополню эту страницу новыми навыками, не входящими в 
      рамки текущего курса.
    </p>
  </article>
</div>
{% endblock %}