{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
Пост {{ post|truncatechars:30 }}
{% endblock %}
{% block content %}
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }} 
          </li>
          {% if post.group %}
            <li class="list-group-item">
              Группа: {{ post.group }}
              <a href="{% url 'posts:group_posts' post.group.slug %}">
                все записи группы
              </a>
          {% endif %}
          </li>
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ post.author.posts.count }}
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author.username %}">
              все посты пользователя
            </a>
          </li>
          <div>
            <br>
            <br>
          </div>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          {% thumbnail post.image "960x339" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          {{ post.text }}
          {% if request.user == post.author %}
              <form action="{% url 'posts:post_edit' post.id %}">
                <button class="btn btn-primary" type="submit">Редактировать</button>
              </form>
          {% endif %}
          {% include 'includes/comment_form.html' %}
        </p>
      </article>
    </div> 
{% endblock %}